:root {
  --pink: #ff4c68;
}

#features,
#testimonials,
#press,
#cta,
#pricing,
#footer {
  text-align: center;
}

#features,
#testimonials,
#press,
#pricing,
#cta {
  padding: 8%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.nav-link,
.navbar-brand,
h1 {
  color: white;
}

h1 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

/* navigation */

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}

#title {
  background-color: var(--pink);
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
}

.nav-item {
  padding-left: 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* title */

.container-fluid {
  padding: 3% 15%;
}

.title-block {
  position: relative;
  z-index: 0;
  height: 450px;
}

.titleimg {
  position: absolute;
  z-index: 1;
  width: 35%;
  right: 12%;
  transform: rotate(20deg);
}

/* features */

#features {
  position: relative;
  background-color: #fff;
}

.feature-icon {
  margin-bottom: 2rem;
  color: #ef8172;
}

.feature-icon:hover {
  color: var(--pink);
}

#features > .row > div > h3 {
  font-size: 1.3rem;
  font-weight: 900;
}

#features > .row > div > p {
  color: #8f8f8f;
}

/* download buttons */
.downloadbtn {
  margin: 9% 2%;
}

/* testimonial  */
#testimonials {
  background-color: var(--pink);
  color: #fff;
  padding-bottom: 0;
}

h2 {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: bold;
}

.testimonial-image {
  width: 15%;
  margin: 20px 20px 50px 20px;
  border-radius: 50%;
}

/* press */
#press {
  background-color: var(--pink);
  padding: 3%;
}

#press img {
  width: 15%;
  padding: 20px;
}

/* pricing */

#pricing {
  background-color: white;
}

#pricing h2 {
  color: black;
}
.card {
  padding: 0;
  background-color: white;
}

#pricing > p {
  margin-bottom: 3rem;
}

/* call to action */

#cta {
  background-color: var(--pink);
  padding-bottom: 3%;
}

#cta h3 {
  font-weight: 900;
  font-size: 3rem;
  color: white;
}

/* footer */

#footer i {
  margin: 2rem 1rem;
}

.btn i {
  margin: auto 10px;
}

@media (max-width: 1028px) {
  .titleimg {
    position: static;
    transform: rotate(0deg);
    margin-top: 2rem;
  }
  .title-block {
    text-align: center;
    height: 700px;
  }
}
